# changes file
*.changes

# system image
*.image

# Pharo Smalltalk Debug log file
PharoDebug.log

# Squeak Smalltalk Debug log file
SqueakDebug.log

# Monticello package cache
/package-cache

# playground cache
/play-cache
/play-stash

# Metacello-github cache
/github-cache
github-*.zip

# Ignorar el archivo de credenciales de Firebase
trainmate-7ae2b-firebase-adminsdk-z5wai-0abc5797e2.json